<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <form onsubmit="return submitTable()">

    账号：<input type="text" id="account"><br>

    姓名：<input type="text" id="name"><br>

    密码：<input type="password" id="password"><br>

    <input name="submit" type="button" id="submit" value="提交" onclick="return submitTable()">

  </form>

  <hr>

  <table border="1" width="50%" align="center" id="table">

    <tr>

      <th>账号</th>
      <th>姓名</th>
      <th>密码</th>

    </tr>

  </table>

  <script type="text/javascript">

    function submitTable() {

      var account = document.getElementById("account").value;

      var name = document.getElementById("name").value;

      var password = document.getElementById("password").value;

      row = document.getElementById("table").insertRow();

      if (row != null) {

        cell = row.insertCell();

        cell.innerHTML = account;

        cell = row.insertCell();

        cell.innerHTML = name;

        cell = row.insertCell();

        cell.innerHTML = password;

      }

      return false;

    }

  </script>
</body>

</html>